@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body, input, button{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

/* nav */
nav{
    background-color: #000;
    display: flex;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
    padding-right: .5rem;
}

.aBack{
    display: flex;
}

ion-icon{
    padding: .5rem;
    font-size: 2rem;
    color: #FFF;
    transition: 300ms ease;
    margin: 0;
}
ion-icon:hover{
    background-color: #222;
}

.usuario{
    color: white;
    font-weight: 200;
    display: flex;
    align-items: center;
    gap: .7rem;
    padding: .2rem;
    border-radius: 3rem;
    transition: 300ms ease;
    text-decoration: none;
}
.usuario:hover{
    background-color: #222;
}

.perfil{
    width: 3em;
    height: 3em;
    object-fit: cover;
    border-radius: 50%;
}


/* form */
form{
    width: 30em;
    padding: 1rem;
    text-align: center;
    border: 1px solid #DDD;
    border-radius: 1rem;
    box-shadow: 2px 2px 2px #AAA;
    margin: auto;
}

input{
    display: block;
    width: 70%;
    font-size: 12pt;
    margin: 0.75rem auto;
    border: none;
    outline: none;
    border-bottom: 1px solid #AAA;
    padding: 2px;
}

#correta{
    margin-bottom: 1rem;
}

button{
    width: 50%;
    height: 2em;
    font-size: 12pt;
}